.on {
  opacity: 1;
  display: block;
}
.off {
  opacity: 0;
  height: 0;
  display: none;
  background: #fff0d0;
  background: #fff8e0;
  background: #ffe0b0;
  background: #ffd090;
  border: 1px solid #ffaa44;
  border: 1px solid #ff8811;
  background: auto;
  border: auto;
}
.error {
  color: #f00;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
article {
  position: absolute;
  min-width: 640px; min-height: 360px;
  border: 1px solid #000;
  background: #fff;
}
article.fixed {
  width: 640px; height: 360px;
}
article.relative {
  left: 8px; top: 8px;
  right: 8px; bottom: 8px;
}
h2.name {
  position: absolute;
  left: 64px; top: 16px;
}
div.content {
  position: absolute;
  left: 96px; top: 64px;
}
div.centerize {
  vertical-align: middle;
  text-align: center;
}
div.vert-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
object.svg {
  position: absolute;
  opacity: 0;
}

/************** login            **************/
#login div.content {
  left: 210px; top: 144px;
}

/************** newroom          **************/
#newroom div.content {
  left: 160px; top: 144px;
}

/************** roomlist         **************/
#roomlist div.content {
  left: 96px; top: 64px;
  width: 448px; height: 260px;
}
#list-room {
  height: 180px;
  border: 2px solid #000;
  padding: 8px;
}
#list-room .room {
  display: inline-block;
  margin: 4px;
  white-space: nowrap;
}

/************** room             **************/
#room div.content {
  left: 0px; top: 0px;
  width: 100%; height: 100%;
}
#room .border-box {
  position: absolute;
  border: 1px solid #000;
}
#room .border-box > .border-box {
  position: absolute;
  border: 1px solid #000;
  border-width: 1px 0px;
}
#room #room-left {
  position: absolute;
  left: 0px; top: 0px;
  right: 160px; bottom: 0px;
}
#room #room-right {
  position: absolute;
  width: 158px; top: 0px;
  right: 0px; bottom: 0px;
}

/********** room-left        **********/
#room h2.name {
  left: 0; top: 0;
}
#room #canvas {
  position: absolute;
  left: 0px; top: 2em;
  right: 0px; bottom: 0px;
}

/********** room-right       **********/

/****** room-name-list ********/
#room #room-name-list {
  position: absolute;
  width: 158px;
  left: 0; top: 0;
  right: 0; bottom: 65%;
  border-top: 0;
}
#room #room-name-list .member {
  word-break: break-all;
}

/****** chat-box      *****/
#room #chat-box {
  position: absolute;
  width: 158px;
  left: 0; top: 35%;
  right: 0; bottom: 0;
}
#room #chat {
  position: absolute;
  width: 158px;
  top: 0px; bottom: 1.4em;
}
#room .message {
  word-break: break-all;
}

#room #form-chat {
  position: absolute;
  width: 156px; height: 1.4em;
  bottom: 0;
}
#room #chat-room {
  position: absolute;
  width: 153px; height: 1.1em;
  left: 1px; top: 0px;
  right: 0px; bottom: 0px;
  margin: 0px; padding: 0px;
}
